#body{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    /*background-image: url(/assets/images/drop4\ .png);*/
    background-image: none;
    background-color: grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
}

@media screen and (max-width:576px){
    #body{
        background-image: none;
        background-color: rgba(0, 0, 0, 0.4);
    }
    #button{
        background-color: black;
        margin-bottom: 55vh;
        display: flex;
        align-items: center;
        a{
            color: yellow;
        }
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

button {
    height: 3.75rem;
    width: fit-content;
    border-style: none;
    border: 1px solid gold;
    border-radius: 3.50rem;
    cursor: pointer;
    background-color: hsla(0, 0%, 10%, 0.1);
    img{
        height: 3vh;
        margin: 5px;
    }
}

button:hover {
    background-color: grey;
    transform: scale(1.08);
}

#link{
    color: white;
    font-size: 2.50rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}