body{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    background-image: url(/assets/images/drop4\ .png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
}

@media only screen and (max-width: 576px) {
    #body{
        background-image: none;
        background-color: rgba(0, 0, 0, 0.4);
        overflow-y: scroll;
    }
    
    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .time, .level {
        width: fit-content;
    }

    #rstbtn{
        margin-bottom: 25vh;
    }
}


.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    border: 2px black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    width: fit-content;
    height: 3vh;
    margin: 10px;
}

.time img {
    height: 2vh;
}

.time button {
    background-color: transparent;
    border-style: none;
    color: white;
    display: flex;
    font-weight: 550;
    font-family: monospace;
    text-decoration: none;
    cursor: pointer;
}

.time button:hover{
    color: black;
}



.time button span {
    padding-left: 5px;
    cursor: initial;
    color: orangered;
}
#dash{color: white;}



.level{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    width: fit-content;
    height: 3vh;
    margin: 10px;

    img{ height: 2vh;}
    
    button{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-decoration: none;
        background-color: transparent;
        border-style: none;
        cursor:pointer;
        color: white;
        font-weight: 550;
        font-family: monospace;
        transition: color 0.3s ease; 
    }

    .level button span {
        padding-left: 5px;
        cursor: initial;
        color: orangered;
    }
    #lvl,dash{color: gold; cursor: initial;}

}

.level button:hover {
    color: black; 
}

a{
    color: #52575d;
}

button{
    color: #52575d;
}

.black{
    color: black;
}
  
.correct{
    color: #00FF28;
}
  
.wrong{
    color: #581845;
    text-decoration: line-through;
}
  
.current{
    color: yellow;
}
  
.center{
    text-align: center;
}
  
.if{
    display: inline-flex;
}
  
.box {
    max-width: 900px;
    padding: 0 30px;
}
  

.limits-box{
    text-align: right;
    margin: 0 35px 0 0 ;
    font-size: 15px;
}
  
.stats{
    margin: 10px auto 20px auto;
    margin-top: 5vh;
}
  
.details{
    font-size: 6rem;
}
  
.stat-block{
    padding: 0 30px;
    min-width: 250px;
}
   
@media(max-width: 600px){
    .details{
      font-size: 5rem;
    }
    .stat-block{
      min-width: 0;
    }
}
  
.stat-name{
    font-size: 2rem;
    font-family: monospace;
    position: relative;
    top: 30px;
    right: 5px;
    color: gold;
    margin-bottom: 13vh;

}
  
.text-display{
    margin: 0 0 22px 0;
    font-size: 25px;
    text-align: left;
    min-height: 200px;
    font-weight: 550;
    font-family: monospace;
    color: white;
}
  
input:focus, textarea:focus, select:focus, a:focus{
    outline: 0 ;
}
  
a:focus,a:hover{
    color: black;
    text-decoration: none;
}

.restart-button{
    padding: 10px;
    color: yellow;
}
  
textarea{
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid orangered;
    border-width: 2px;
    border-radius: 10px;
    color:white;
    padding: 10px;
    font-size: 1.2rem;
    resize: none;
    text-align: center;
    margin-bottom: 20px;
}

.text-input{
    color: white;
    font-size: 2rem;
}

.restart-button {
    button{
        background-color: transparent;
        border-style: none; 
    }
    
    img{
        height: 3vh;
        margin-top: 3vh;
    }
}

