@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0px;
    padding: 0px;
    background-image: url(/assets/images/drop4\ .png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
    font-family: "Poppins",sans-serif;
}

@media screen and (max-width:576px){
  #body {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
  }

  #subtext {
    display: none;
  }
  
  .login__form {
    margin-bottom: 15vh;
  }

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: yellow;
        font-size:300%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding-top: 5%;
        font-weight: 900;
        filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.7));
    }

    #subtext{
        color: white;
        font-weight: 550;
        font-size: 20px;
        margin-left: 45%;
    }

}

.login{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    display: grid;
    align-items: center;

    input,button{
        border: none;
        outline: none;
    }

    a{text-decoration: none;}

      .login__form {
        position: relative;
        background-color: hsla(0, 0%, 10%, 0.1);
        border: 0px solid black;
        height: fit-content;
        margin-inline: 1.5rem;
        padding: 2.5rem 1.5rem;
        border-radius: 2.90rem;
        margin-top: 12rem;
        backdrop-filter: blur(8px);
      }

      .login__title {
        text-align: center;
        font-size: 2.75rem;
        color: white;
        font-weight: 750;
        margin-bottom: 2rem;
        margin-top: 10%;
        
      }

      .login__content, .login__box {
        display: grid;
      }

      .login__content {
        row-gap: 1.75rem;
        margin-bottom: 1.5rem;
      }

      .login__box {
        grid-template-columns: max-content 1fr;
        align-items: center;
        margin-bottom: 1.75rem;
        column-gap: 0.75rem;
        border-bottom: 2px solid orangered;
      }

      .login__icon, .login__eye {
        font-size: 1.50rem;
      }

      .login__input {
        width: 100%;
        padding-block: 0.8rem;
        background: none;
        color: black;
        position: relative;
        z-index: 1;
        margin-bottom: 3%;
      }

      .login__box-input {
        position: relative;

      }

      .login__label {
        position: absolute;
        left: 0;
        top: 13px;
        font-weight: 550;
        display: flex;
        color: white;
        transition: top 0.3s, font-size 0.3s;
      }

      .login__eye {
        position: absolute;
        right: 0;
        top: 18px;
        z-index:10;
        cursor: pointer;
      }

      .login__box:nth-child(2) input {
        padding-right: 1.8rem;
      }

      .login__check, .login__check-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .login__check {
        margin-bottom: 1.5rem;
      }

      .login__check-label, .login__forgot, .login__register {
        font-size: 1rem;
        color: white;
      }

      .login__check-label{
        margin-top: 10%;
      }

      .login__check-group {
        column-gap: 0.75rem;
        justify-content: center;

      }

      .login__check-input {
        width: 16px;
        height: 16px;
      }

      .login__forgot {
        color: white;
        font-weight: 550;
        font-size: 1rem;
      }

      .login__forgot:hover {
        text-decoration: underline;
      }

      .login__button {
        color: black;
        font-weight: 550;
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: white;
        cursor: pointer;
        margin-top: 1.50rem;
        margin-bottom: 3rem;
        transition: color 0.3s ease;
        transition: background-color 0.3s ease;
      }

      .login__button:hover{
        color: white;
        background-color: red;
        transform: scale(1.04); 
      }
      .login__register {
        text-align: center;
        color: gold;
        font-weight: 550;
        margin-bottom: 2.75rem;
        a{
          font-size: 1.50rem;
        }
      }

      .login__register a {
        color: white;
       
      }

      .login__register a:hover {
        text-decoration: underline;
      }
      
      .login__input:focus + .login__label {
        top: -12px;
        font-size: var(--small-font-size);
      }
      
      .login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
        top: -12px;
        font-size: var(--small-font-size);
      }
}

#skip{
  a{
    text-decoration: none;
    margin-left: 40%;
  }
}
  
@media screen and (min-width: 576px) {
    .login {
      justify-content: center;
    }
    .login__form {
      width: 432px;
      padding: 4rem 3rem 3.5rem;
      border-radius: 1.5rem;
    }
    .login__title {
      font-size: 2rem;
    }
}